<div class="popup-content-box">
  <form class="validate-form">
    <div class="form-section">
      <div class="form-element all-width">
        <div class="err-message" >
        </div>
        <input class="input-text" placeholder="请输入原密码" >
      </div>
    </div>

    <div class="form-section">
      <div class="form-element all-width" >
        <div class="err-message" >
        </div>
        <input class="input-text"  placeholder="请输入新密码">
      </div>
    </div>

    <div class="form-section">
      <div class="form-element all-width">
        <div class="err-message">
        </div>
        <input class="input-text"  placeholder="请再次输入新密码">
      </div>
    </div>

  </form>
</div>
<div class="button-group button-group-right">
  <button (click)="ok()" class="button5">保存</button>
  <button (click)="cancel()" class="button4">取消</button>
</div>
