<div class="popup-content-container" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
  <div class="popup-content-box">
    我是个表单 我是个表单 我是个表单 我是个表单 我是个表单 我是个表单<br/> 我是个表单 我是个表单 我是<br/>个表单 我是个表单<br/> 我是个表单 我是个表单 我是个<br/>表单 我是个表单 <br/>我是个表单
    我是个表单 我是个表单 我是个表单 我是个表单
    我是个表单 我是个表单 <br/>我是个表单 我是个表单 我是<br/>个表单 我是个<br/>表单 我是个表单 我是个表<br/>单 我是个表单 我是个表单 我是个表单 我是个<br/>表单 我是个表单 我是个表单 我<br/>是个表单
    我是个表单 我是个表单 <br/>我是个表单 我是个表单
    我是个表单 我是个表单 我是个表单<br/> 我是个表单 我是个表单 我是个表单 我是个表单<br/> 我是个表单 我是个表单 我<br/>是个表单 我是个表单 我是个表单 <br/> 我是个表单 我是个表单 我是个表单 <br/>我是个表单
    我是个表单
    我是个表单<br/> 我是个表单 我是个表单 我是个表单 我是个表单 <br/> 我是个表单 我是个表单 我是个表单 我是个表单 <br/>我是个表单 我是个表单 我是个表单 我是个表单 <br/> 我是个表单 我是个表单
    <br/>我是个表单 我是个表单
    我是个表单 <br/>我是个表单 我是个表单 我是个表单 我是个表单
  </div>
</div>
<div class="button-group button-group-right">
  <button class="button3">我是button3</button>
  <button class="button4">我是button4</button>
</div>
