<app-qiezzi-right-header
  [rightComponentName]="rightComponentName"
  [controlList]="controlList"
  (onControl)="onControl($event)"></app-qiezzi-right-header>
<div class="people-talk">
  <div class="people-ms">
    <div><span>姓名</span><span>名称</span></div>
    <div><span>性别</span><span>男</span></div>
    <div><span>年龄</span><span>20岁</span></div>
    <div><span>手机号</span><span>13299008877</span></div>
    <div><span>电子邮箱</span><span>345@sina.com</span></div>
    <div><span>QQ</span><span>22334453</span></div>
    <div><span>家庭住址</span><span>北京市 海淀区 学院路2号</span></div>
    <div><span>分组</span><span>朋友</span></div>
    <div><span>备注</span><span>重要联系人</span></div>
  </div>
</div>









