.people-ms{
  font-size:0.7rem;
  div{
    padding-top:1.5rem;
    span:first-child{
      display:inline-block;
      width:4.5rem;
      text-align:right;
    }
    span:nth-child(2){
      display:inline-block;
      width:calc(100% - 6.5rem);
      margin-left:2rem;
    }
  }
}
