/*初始化*/
p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:host {
  width: 100%;
  height: 100%;
  display: block;
}

/********************************************************************************************自定义左侧列表样式*/

#app-center-container {
  height: 100%;
  width: calc((100% - 960px - 481px) / 2 + 960px);
}

#appCenterContent {
  height: 100%;
  width: calc((100% - 960px - 481px) / 2 + 960px);
}

app-qiezzi-center-header {
  width: calc((100% - 960px - 481px) / 2 + 960px);
}

.capital-flow-content {
  overflow: hidden;
  //width: 100%;
  //width: 47rem;
  width: calc((100% - 960px - 481px) / 2 + 960px);
  height: 100%;
  //border-top: 1px solid #dddddd;
  color: #333;
  font-size: .7rem;
}
/***** 宽屏显示 *****/
@media only screen and (min-width: 1601px) {
  #app-center-container {
    width: calc((100% - 940px - 481px) / 2 + 940px);
  }

  #appCenterContent {
    width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  app-qiezzi-center-header {
    width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  .capital-flow-content {
    //width: 100%;
    //width: 47rem;
    width: calc((100% - 940px - 481px) / 2 + 940px);
  }
}

/***** 中宽屏显示 *****/
@media only screen and (min-width: 1120px) and (max-width: 1600px) {
  #app-center-container {
    //width: calc((100% - 940px - 481px) / 2 + 940px);
    width: 47rem;
  }

  #appCenterContent {
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  app-qiezzi-center-header {
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  .capital-flow-content {
    //width: 100%;
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
}
/***** 窄屏 + iPad显示 *****/
@media only screen and (min-width: 1000px) and (max-width: 1119px) {
  #app-center-container {
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }

  #appCenterContent {
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  app-qiezzi-center-header {
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  .capital-flow-content {
    //width: 100%;
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
}

/***** 大于等于480宽度的移动端显示 *****/
@media only screen and (min-width: 480px) and (max-width: 999px) {
  #app-center-container {
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  #appCenterContent {
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  app-qiezzi-center-header {
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
  .capital-flow-content {
    //width: 100%;
    width: 47rem;
    //width: calc((100% - 940px - 481px) / 2 + 940px);
  }
}

.capital-flow-content-left {
  float: left;
  width: 14rem;
  height: 100%;
  //height:calc(100% -4rem);
  border-right: 1px solid #dddddd;
  //padding-top: 2rem;
  padding-top: 1rem;
}

.capital-flow-content-left .capital-flow-content-left-header {
  /*
 根据UI设计，修改滚动条位置，所以调整头部位置宽度
 */
  margin: 0 2rem;

  padding-bottom: 1rem;
  //border-bottom: 1px dotted #dddddd;
  border-bottom: 1px dashed #dddddd;
  line-height: 1.5rem;
}

.capital-flow-content-left-list-item .size-normal {
  font-size: .6rem;
  color: #666;
}

.capital-flow-content-right {
  margin-left: 14rem;
  //height: 100%;
  height:calc(100% - 8rem);
  //height: 20rem;
}

.search-right-icon {
  border: none;
  color: #969AFC;
}

.rt {
  float: right;
}

.capital-flow-content-left-list .capital-flow-content-left-list-item {
  line-height: 2.1rem;
  border: 1px solid transparent;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
}

.capital-flow-content-left-list .capital-flow-content-left-list-item.selected {
}

/*.capital-flow-content-left-list  .capital-flow-content-left-list-item:last-child:hover{
  border-bottom-color: #7A80FA;
}*/
/*.list-table-content .list-table-item:last-child.selected{
  border-bottom-color: #7A80FA;
}*/
.list-table {

}

.app-center-content .list-table-item {
  margin-left: 1px;
  margin-right: 1px;
}

.app-center-content .list-table-item:first-child {
  margin-top: 1px;
}

.list-table-content {
  margin-top: 0;

}

.list-table-content > li {
  line-height: 2.1rem;
}

.capital-flow-content-left-list {
  margin-left: 2.5rem;
  margin-top: .5rem;
  border: none;
  padding-bottom: 3rem;
}

.capital-flow-content-right {
  margin-bottom: 1rem;
}

/***********************************************************************************引用列表框架样式*/
.list-table-head .list-table-col1, .list-table-head .list-table-col3 {
  font-weight: normal;
}

.list-table-col0 {
  //width: calc(100% - 12% - 22% - 20% - 16% - 2px);
  width: 36%;
  min-width: 7rem;
  color: #333;
  .list-table-col0-text {
    font-size: 0.6rem;
    color:#999;
    .list-table-col0-text-left {
      position: relative;
      float: left;
      color:#999;
    }
    .list-table-col0-text-left::after{
      content: "";
      height: 0.5rem;
      position: absolute;
      right: -0.5rem;
      top: 0.3rem;
      display: block;
      border-left: 1px solid #dddddd;
    }
    .list-table-col0-text-right {
      //float: right;
      margin-left: 0.6rem;
      color:#999;
    }
  }
}

.list-table-col0 p {
  //width: 5em;

}

.list-table-col0 span {
  display: inline;
  font-size: 0.6rem;
  color: #333
}

.list-table-col1 {
  width: 20%;
  //min-width: 6rem;
  //font-weight: bold;
  color: #333;
  text-align: center;
}

.list-table-col2 {
  width: 22%;
  min-width: 8rem;
  color: #666;
}

.list-table-col3 {
  width: 22%;
  min-width: 7rem;
  //font-weight: bold;
  color: #333;
}

.list-table-col4 {
  width: 12%;
  min-width: 6rem;
}

@media screen and (max-width: 999px) {

  .list-table-col0 {
    width: calc(100% - 30% - 23%);
  }

  .list-table-col3 {
    width: 30%;
  }
  .list-table-col4 {
    width: 23%;
  }
  .search-bar {
    flex-direction: column;
    .search-left {
      margin-bottom: 1rem;
    }
  }
}
/*@media only screen and (min-width: 1000px) and (max-width: 1119px){
  width: 100%;
  left: 0;
}*/
/*@media only screen and (min-width: 1120px) and (max-width: 1600px){
  width: 100%;
  left: 0;
}*/
/*@media screen and (min-width: 1600px) {
  width: 100%;
  left: 0;
}*/
/**********************************************************************************修改表单样式*/

.list-table-item {
  overflow: hidden;
}

.list-table-head {
  overflow: hidden;
  border: 1px solid #ccc;
  border-bottom: none;
}

.row {
  padding: 0 2rem;
  transition: padding .2s;
  margin: 1rem auto;
}

.search-bar {
  margin-top: 1.5rem;
  display: flex;
  padding: 0.3rem 2rem 1rem;
  //border-bottom: 1px solid #e6e7f3;
  .search-left {
    width: 16.5rem;
    display: flex;
    //justify-content: space-between;
    margin-right: 0.5rem;
    input {
      width: 10rem;
    }
    qiezzi-drop-down-list {
      width: 6rem;
    }
  }
  .search-right {
    width: 16.5rem;
    display: flex;

    .search-right-button{
      border-color: #DBDBDB;
      color: #999;
      //background-color: #DBDBDB;
    }
    .search-right-button:hover{
      //border-color: #DBDBDB;
      border-color: #605bf5;
      //background-color: #DBDBDB;
      background-color: #fff;
      color: #605bf5;
      //color: #999;
    }
    .begin-end-time {
      height: 32px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 4px 4px;
      border: solid 1px #e6e7f3;

      margin-right: 0.5rem;
      input {
        width: 98px;
        line-height: 30px;
        margin: 0;
        border: 0 !important;
        text-indent: 10px;
        background-color: transparent;
      }
      span {
        display: block;
        height: 20px;
        width: 1px;
        background-color: #DBDBDB;
      }
    }
  }
}

.search-right-icon {
  min-width: 5rem;
  padding: 0;
}


.app-center-content .list-table-item {
  margin-left: 1px;
  margin-right: 1px;
}

.app-center-content .list-table-item:first-child {
  margin-top: 1px;
}

#appCenterRightContent {
  padding-bottom: 3rem;
}

//当前库存
.current-stock {
  .drop-down-select {
    margin-left: 0.5rem;
  }
  .search-right {
    .search-right-button {
      border-color: #DBDBDB;
      //background-color: #DBDBDB;
      color: #DBDBDB;
    }
  }
  .button-search-right-icon {
    margin-right: 1.1rem;
    margin-top: -2.6rem;
    .search-right-icon {
      min-width: 4rem;
      padding: 0;
      //display: inline-block;
      .iconfont{
        font-size: 0.6rem;
      }
    }
    .search-right-icon:hover {
      //background-color: #605BF5;
      background-color: #fff;

    }
  }

  .list-table-col0 {
    //margin-left: 1rem;
    padding: 0 0.5rem;
  }
  .list-table-col1 {
    margin-left: 0.5rem;
  }
  .list-table-last {
    margin-right: 1rem;
  }
}

//底量报警页面
.low-volume-alarm {
  .list-table-col0 {
    width: calc(100% - 30% - 30%);
    //margin-left: 1rem;
    //margin-right: 0.5rem;
  }
  .list-table-col1 {
    width: 30%;
    //margin-left: 0.5rem;
    .low-volume-num {
      width: 3rem;
      height: 1.5rem;
      //padding: 0;
      text-align: center;
      margin: 0.5rem auto;
    }
  }
  .list-table-col-last {
    //margin-right: 1rem;
  }
  .search-left {
    justify-content: flex-start;
    margin-right: 0.5rem;

    .search-left-button{
      margin-left: 0.5rem;
      border-color: #DBDBDB;
      color: #999;
      //background-color: #DBDBDB;
    }
    .search-left-button:hover{
      //border-color: #DBDBDB;
      border-color: #605bf5;
      //background-color: #DBDBDB;
      background-color: #fff;
      color: #605bf5;
      //color: #999;
    }
  }
  .button-search-right-icon {
    margin-right: 1rem;
    margin-top: -2.6rem;
    .search-right-icon {
      min-width: 4rem;
      padding: 0;
      //display: inline-block;
      .iconfont{
        font-size: 0.6rem;
      }
    }
    .search-right-icon:hover {
      //background-color: #605BF5;
      background-color: #fff;

    }
  }
}

//批次明细查询
.batch-detail-query {
  .list-table-head {
    padding: 0 1rem;
    margin: 0;
    .list-table-col0 {
      //margin-left: 1rem;
    }
  }
  .list-table-col0 {
    width: calc(100% - 13% - 13% - 13% - 13% - 13% - 13%);
    overflow: hidden;
    //margin-left: 1rem;
    //margin-right: 0.5rem;
    p {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .list-table-col0-text {
      .list-table-col0-text-left {
        float: left;
      }
      .list-table-col0-text-right {
        //float: right;
        margin-left: 1rem;
      }
    }
  }
  .list-table-col1 {
    width: 13%;
    text-align: center;
    //margin-left: 0.5rem;
  }
  .list-table-col-last {
    //margin-right: 1rem;
  }
  .time-to {
    display: inline-block;
    width: 3rem;
    padding-top: 0.4rem;
    color: #999;
  }
  .search-left {
    margin-right: 1.5rem;
    .app-icon-input{
      //margin-right: 0.5rem;
    }
    .input-container{
      //margin-right: 0.5rem;
    }
    qiezzi-drop-down-list.drop-down-select{
      margin-left: 0.5rem;
    }
  }
  .button-search-right-icon {
    margin-right: 1rem;
    margin-top: -2.6rem;
    .search-right-icon {
      min-width: 4rem;
      padding: 0;
      //display: inline-block;
      .iconfont{
        font-size: 0.6rem;
      }
    }
    .search-right-icon:hover {
      //background-color: #605BF5;
      background-color: #fff;

    }
  }
}
.app-stock-conter{
  height: 100%;
}

