<div class="popup-content-container" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
  <div class="popup-content-box">
    <form class="validate-form" [formGroup]="formGroup">
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span>姓名<input type="hidden"
                                                                               formControlName="PatientID"></div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['PatientName']">{{formErrors['PatientName']}}</div>
          <app-icon-input (onPatientSelected)="onSelectPatient($event)" formControlName="PatientName"
                          [iconList]="iconListData"
                          [marginRight]="0"
                          (onIconClick)="onIconClick($event)"></app-icon-input>
        </div>
      </div>
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span>病历号</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['PatientCode']">{{formErrors['PatientCode']}}</div>
          <input class="input-text" placeholder="{{formPlaceholder['PatientCode']}}" formControlName="PatientCode"
                 (blur)="onInputElementBlur('PatientCode')">
        </div>
      </div>
      <div class="form-section">
        <div class="form-title">性别</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['Sex']">{{formErrors['Sex']}}</div>
          <div class="form-radio-group">
            <label class="form-radio"><input type="radio" name="Sex" formControlName="Sex"/>
              <span class="iconfont"></span><span>男</span>
            </label>
            <label class="form-radio"><input type="radio" name="Sex" formControlName="Sex"/>
              <span class="iconfont"></span><span>女</span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-section">
        <div class="form-title">年龄</div>
        <div class="form-element">
          <div class="double-element">
            <div class="form-element">
              <div class="err-message" [attr.error]="formErrors['Age']">{{formErrors['Age']}}</div>
              <input class="input-text" placeholder="{{formPlaceholder['Age']}}" formControlName="Age"
                     (blur)="onInputElementBlur('Age')">
            </div>
            <div class="form-element">
              <div class="err-message" [attr.error]="formErrors['BirthDate']">{{formErrors['BirthDate']}}</div>
              <input class="input-text" id="input-birthday" qiezzi-date-picker
                     placeholder="{{formPlaceholder['BirthDate']}}"
                     formControlName="BirthDate" (onDate)="onBirthDateChange($event)">
              <label for="input-birthday" class="form-element-icon">&#xe6aa;</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-section">
        <div class="form-title">手机号</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['Tel']">{{formErrors['Tel']}}</div>
          <input class="input-text" placeholder="{{formPlaceholder['Tel']}}" formControlName="Tel"
                 (blur)="onInputElementBlur('Tel')">
        </div>
      </div>
      <div class="form-section">
        <div class="form-title">座机号</div>
        <div class="form-element">
          <div class="double-element">
            <div class="form-element">
              <div class="err-message" [attr.error]="formErrors['AreaCode']">{{formErrors['AreaCode']}}</div>
              <input class="input-text" placeholder="{{formPlaceholder['AreaCode']}}" formControlName="AreaCode"
                     (blur)="onInputElementBlur('AreaCode')">
            </div>
            <div class="form-element">
              <div class="err-message" [attr.error]="formErrors['Phone']">{{formErrors['Phone']}}</div>
              <input placeholder="{{formPlaceholder['Phone']}}" formControlName="Phone"
                     (blur)="onInputElementBlur('Phone')">
            </div>
          </div>
        </div>
      </div>
      <div class="dashed-line"></div>
      <div class="form-section">
        <div class="form-title">类型</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['PatlogType']">{{formErrors['PatlogType']}}</div>
          <div class="form-radio-group">
            <label class="form-radio"><input type="radio" name="PatlogType" formControlName="PatlogType"/>
              <span class="iconfont"></span><span>初诊</span>
            </label>
            <label class="form-radio"><input type="radio" name="PatlogType" formControlName="PatlogType"/>
              <span class="iconfont"></span><span>复诊</span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-section">
        <div class="form-title">就诊医生</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['DoctorCode']">{{formErrors['DoctorCode']}}</div>
          <qiezzi-drop-down-list class="drop-down-select" [required]="false" [dataList]="doctorListDataSource"
                                 formControlName="DoctorCode"></qiezzi-drop-down-list>
        </div>
      </div>
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span>就诊日期</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['VisitDate']">{{formErrors['VisitDate']}}</div>
          <input class="input-text" qiezzi-date-picker placeholder="{{formPlaceholder['VisitDate']}}"
                 formControlName="VisitDate" (onDate)="onVisitDateChange($event)">
          <div class="form-element-icon">&#xe6aa;</div>
        </div>
      </div>
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span>就诊时间</div>
        <div class="form-element">
          <div class="double-element">
            <div class="form-element">
              <div class="err-message" [attr.error]="formErrors['StartTime']">{{formErrors['StartTime']}}</div>
              <qiezzi-drop-down-list class="drop-down-select" [required]="true" [selectIndex]="startTimeSelectedIndex"
                                     [dataList]="leftTimeDropDownDataSource" formControlName="StartTime"
                                     (onChange)="onStartTimeChange($event)"></qiezzi-drop-down-list>
            </div>
            <div class="form-element">
              <div class="err-message" [attr.error]="formErrors['EndTime']">{{formErrors['EndTime']}}</div>
              <qiezzi-drop-down-list class="drop-down-select" [required]="true" [selectIndex]="endTimeSelectedIndex"
                                     [dataList]="rightTimeDropDownDataSource" formControlName="EndTime"
                                     (onChange)="onEndTimeChange($event)"></qiezzi-drop-down-list>
            </div>
          </div>
        </div>
      </div>
      <div class="form-section">
        <div class="form-title">就诊事项</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['Aim']">{{formErrors['Aim']}}</div>
          <app-tag-box-group formControlName="Aim"></app-tag-box-group>
          <div class="form-element-icon" (click)="onAimClick()">&#xe6ac;</div>
        </div>
      </div>
      <div class="form-section">
        <div class="form-title">备注</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="formErrors['Note']">{{formErrors['Note']}}</div>
          <textarea class="ta-text" placeholder="{{formPlaceholder['Note']}}" formControlName="Note"
                    (blur)="onInputElementBlur('Note')">
          </textarea>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="button-group button-group-right">
  <button (click)="save()" class="button5" [disabled]="!formGroup.valid">保存</button>
  <button (click)="close()" class="button4">取消</button>
</div>

