<!--侧滑-->
<app-qiezzi-right-header
  [rightComponentName]="patientName"
  [controlList]="ctrlList"
  (onControl)="onControlListClick($event)"></app-qiezzi-right-header>
<div class="disinfection-details">
  <div class="information">
    <h3>消毒信息</h3>
    <div class="infomation-info">
      <div class="infomation-left">
        <div>消毒类型</div>
        <div>消毒方式</div>
        <div>消毒方式</div>
        <div>消毒类型</div>
        <div>主题</div>
      </div>
      <div class="infomation-right">
        <div>李小六</div>
        <div>2017-03-12</div>
        <div>消毒浸泡液</div>
        <div>小型器械</div>
        <div class="theme">这是消毒主题主题主题猪蹄子打飛機偶爾發</div>
      </div>
    </div>
  </div>
  <div class="remarks">
    <h3>备注</h3>
    <p>搭建了發的順豐快遞覺得覅誒方矩管對方決定是否IE法規放假哦股份</p>
  </div>
</div>
