.col1 {
  width: 100%;
}

.col2 {
  flex: 0 0 15%;
}

.col3 {
  flex: 0 0 12%;
}

.col4 {
  flex: 0 0 15%;
}

.col5 {
  flex: 0 0 12%;
}

.col6 {
  flex: 0 0 12%;
}

.col7 {
  flex: 0 0 12%;
}

@media only screen and (max-width: 999px) {
  .col1 {
    width: 100%;
  }

  .col4 {
    flex: 0 0 30%;
  }

  .col5 {
    flex: 0 0 20%;
  }

  .col7 {
    flex: 0 0 15%;
  }
}
.list-table{padding:0;}
