.w50 {
  width: 50%;
}

.fr {
  float: right;
}
.form-section.w50{
  margin-bottom: 1rem;
}
input{
  //border-color: #e6e7f3;
}

.list-table-content .list-table-item > div > *:only-child{
  //padding: 0;
}




.list-table {
  padding: 0;
  border: 1px solid #DBDBDB;
}
.list-table-head{
  border-bottom: 1px solid #DBDBDB;
}
.list-table-content {
  border: none;

  .list-table-item{
    font-size: 0.6rem;
  }
}

.list-table-col0 {
  width: calc(100% - 36rem );
  font-size: 0.7rem;
}

.list-table-col1 {
  width: 7.5rem;
}

.list-table-col2 {
  width: 7.5rem;
  input{
    margin-top: 0.4rem;
  }
}
.list-table-col3 {
  width: 7.5rem;
  input{
    margin-top: 0.4rem;
  }
}

.list-table-col4 {
  width: 7.5rem;
}

.list-table-col5 {
  width: 6rem;

  div{
    display: inline-block;
  }
  .table-control.icon-edit-delete{
    padding: 0;
    margin-top: 0.6rem;
  }
}



.list-table-col6 {
  width: 4rem;
  span{
    overflow: visible;
  }
}

.list-table-col7 {
  width: 5rem;
  input{
    margin-top: 0.4rem;
  }
}

.list-table-col8 {
  width: 5rem;
}

.list-table-col9 {
  width: 4rem;
  span{
    overflow: visible;
  }
}

//没有数据时
.no-content {
  //position: relative;
  text-align: center;
  padding: 1.5rem 0;
  //margin-bottom: 1rem;
  //border-bottom: 1px solid #DBDBDB;

  .add-input-goods {
    width: 5rem;
    height: 5rem;
    //position: absolute;
    margin-left: calc(50% - 50px);
    border: 1px dashed #DBDBDB;
    padding: 1rem;
    .icon {
      font-size: 3rem;
    }
  }
  span {
    font-size: 0.8rem;
    color: #ccc;
  }
}

//底部合计
.total {
  height: 2.8rem;
  line-height: 2.8rem;
  //border-top: 1px solid #DBDBDB;
  padding:0 1rem;
  div{
    display: inline-block;
    padding: 0 0.5rem;
  }
  .list-table-col0 {
    span {
      color: #333;
    }
  }

}

//添加物品
.list-table-col0.add-goods{
  color: #7a80fa;
  .icon{
    font-size: 0.6rem;
  }
  span{
    display: inline;
    size: 0.6rem;
  }
}

//备注
.input-stock-remarks {
  margin-top: 1.5rem;
  //border: 1px solid #DBDBDB;
  input {
    padding-left: 10px;
    width: 100%;
    height: 32px;
  }
}




