<div id="app-center-container">
  <div id="app-center-content">

    <app-qiezzi-center-header [showSearch]="false"
                              [showFilter]="false"
                              [showAdd]="true"
                              [showOptions]="false"
                              [moduleName]="moduleName"
                              [searchPlaceholder]="'患者/单号'"
                              [controlList]="['新增']"
                              (onControl)="onControlClick($event)"
    ></app-qiezzi-center-header>
    <div id="appCenterContent"
         style="border-top: 1px solid #DBDBDB;"
         class="app-center-content" malihu-scrollbar
         [scrollbarOptions]="scrollbarOptions">
      <div class="gps">
        <i class="iconfont icon-dingwei"></i><span class="gps-span" (click)="jump()">外加工</span><i
        class="icon iconfont icon-chakanxiangqing jiantou"></i><span>外加工设置</span>
      </div>
      <div class="tab-ctrl tab-ctrl1">
        <app-qiezzi-tab-control class="tab-ctrl-head" style="margin: 0 2rem;" [tabData]="tabData.data"
                                [defaultSelectedIndex]="tabData.defaultIndex"
                                (onTabIndexChange)="tabData.changeTab($event)"></app-qiezzi-tab-control>
        <div class="tab-ctrl-content">
          <div class="list-table single-line">
            <div class="list-table-search">
              <div class="list-table-search-div-1">
              </div>
              <div class="list-table-search-div-2">
                <button class="button4" (click)="add()">{{buttonName}}</button>
              </div>
            </div>
            <div class="list-table-head"
                 *ngIf="(colorNameList && colorNameList.length>0) || (contentList && contentList.length>0)">
              <span class="list-table-header-col-1">名称</span>
              <span class="list-table-header-col-2">操作</span>
            </div>
            <qiezzi-loading [attr.status]="mainShowLoading" class="loading6 purple transparent top"></qiezzi-loading>
            <div class="list-table-content" *ngIf="index ==0 && contentList && contentList.length>0">
              <div class="list-table-item no-hover" *ngFor="let item of contentList">
                <div class="list-table-content-col-1"><span>{{item.Value}}</span></div>
                <div class="list-table-content-col-2 up-down-operation">
                  <div class="up-down-box">
                    <i class="iconfont icon-xiangshang" (click)="up(item.Key)"></i>
                    <span></span>
                    <i class="iconfont icon-xiangxia" (click)="down(item.Key)"></i>
                    <span></span>
                  </div>
                  <!--<i class="iconfont icon-zhiding" (click)="top()"></i>
                  <span>|</span>
                  <i class="iconfont icon-zhidi" (click)="bottom()"></i>
                  <span>|</span>-->
                  <i class="iconfont icon-xiugai" (click)="update(item.Key,item.Value)"></i>
                  <span></span>
                  <i class="iconfont icon-shanchu" (click)="delete(item.Key)"></i>
                </div>
                <br clear="left">
              </div>
              <div class="data-empty">
                <app-data-empty [showEmpty]="!(contentList && contentList.length>0)">
                </app-data-empty>
              </div>
            </div>
            <div class="list-table-content" *ngIf="index ==1 && colorNameList && colorNameList.length>0">
              <div class="list-table-item no-hover" *ngFor="let item of colorNameList">
                <div class="list-table-content-col-1"><span>{{item.Value}}</span></div>
                <div class="list-table-content-col-2 up-down-operation">
                  <div>
                    <i class="iconfont icon-xiangshang" (click)="up(item.Key)"></i>
                    <span></span>
                    <i class="iconfont icon-xiangxia" (click)="down(item.Key)"></i>
                    <span></span>
                  </div>
                  <!--<i class="iconfont icon-zhiding" (click)="top()"></i>
                  <span>|</span>
                  <i class="iconfont icon-zhidi" (click)="bottom()"></i>
                  <span>|</span>-->
                  <i class="iconfont icon-xiugai" (click)="update(item.Key,item.Value)"></i>
                  <span></span>
                  <i class="iconfont icon-shanchu" (click)="delete(item.Key)"></i>
                </div>
                <br clear="left">
              </div>
              <div class="data-empty">
                <app-data-empty
                  [showEmpty]="!(colorNameList && colorNameList.length>0)">
                </app-data-empty>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--<qiezzi-paginator [rows]="responseData.ItemsPerPage" [totalRecords]="responseData.TotalItems"
                        [rowsPerPageOptions]="[10,20,30]"
                        (onPageChange)="pageChange($event)"></qiezzi-paginator>-->
    </div>
  </div>
</div>
