.w50{
  width: 50%;
}
.fr{
  float: right;
}



//供应商名称
.supplier-name{
  width:calc(100% - 90px);
}
//顶部边
app-qiezzi-right-header .right-header{
  margin: 0;
  padding: 0 1.5rem;
}


:host{display: block;height: 100%;}

.right-content {
  border-bottom: 1px solid #DBDBDB;
  .right-content-header {
    min-height: 4rem;
    //border-bottom: 1px solid #DBDBDB;
    padding: 1rem 0;
    .right-content-header-title{
      height: 3rem;
      line-height: 3rem;
      font-size: 0.8rem;
    }
    .right-content-header-text {
      //height: 2rem;
      line-height: 1rem;
      font-size: 0.6rem;
      .bill{
        color: blue;
        cursor:pointer;
      }
      span{
        display: inline-block;
        vertical-align: top;
      }
      span:nth-child(1) {
        display: inline-block;
        padding-top: 0.5rem;
        color: #999;
        width: 4rem;
      }
      span:nth-child(3) {
        color: #333333;
      }
      span:nth-child(2) {
        padding: 0.5rem;
        width:calc(100% - 90px);
      }
      span:nth-child(4) {
        color: #666666;
      }
    }
  }

}

.bottom-div {
  height: 4rem;
  line-height: 4rem;
  border-top: 1px solid #DBDBDB;
  span {
    color: #333333;
    font-size: 0.7rem;
    margin-left: 1.5rem;
    cursor: pointer;
  }
  span:hover {
    color: #7a80fa;
  }
  button {
    line-height: 1.6rem;
    margin: 1.2rem 1.5rem;
    float: right;
  }
}

.un-click {
  color: #999 !important;
  cursor: not-allowed !important;
}
