<app-qiezzi-right-header
  [rightComponentName]="compName"
  [controlList]=""
  (onClose)="onClose($event)"
  (onControl)="onControlListClick($event)"></app-qiezzi-right-header>
<qiezzi-loading [attr.status]='detailLoading' class="loading6 purple"></qiezzi-loading>
<div class="right-content" id="rightContentScroll">
  <div class="right-content-header">
    <div class="right-content-header-text">
      <span>供应商</span>
      <span class="supplier-name">哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂哈药六厂</span>
    </div>
    <div class="right-content-header-text">
      <span>所属地区</span>
      <span>
        湖北省 十堰市 茅箭区<br>
        东风小区3号院3门101室
      </span>
    </div>
    <div class="right-content-header-text">
      <div class="item-phone fr w50">
        <span>联系电话</span>
        <span>13671221279</span>
      </div>
      <div class="item-name w50">
        <span>联系人</span>
        <span>张怡</span>
      </div>
    </div>

    <div class="right-content-header-text">
      <div class="item-phone fr w50">
        <span>联系电话</span>
        <span>13671221279</span>
      </div>
      <div class="item-name w50">
        <span>联系人1</span>
        <span>张依依</span>
      </div>
    </div>
      <div class="right-content-header-text">
      <span>邮箱地址</span>
      <span>13671221@qq.com</span>
    </div>
    <div class="right-content-header-text">
      <span>商家官网</span>
      <span>www.qiezii.com</span>
    </div>
    <div class="right-content-header-text">
      <span>备注</span>
      <span>备注信息备注信息备注信息备注信息备注信息备注信息备注信息备注信息备注信息备注信息备注信息备注信息备注信息.......</span>
    </div>

  </div>



</div>



