:host {
  width: 100%;
  height: 100%;
  display: block;
}
/*滚动条*/
.app-center-content{
  height:100%;
}
/*列表*/
.list-table-content .list-table-item > div > :only-child{
  overflow: inherit;
}
.list-table-content .list-table-item > div > .table-control{
  height:auto;
}
.list-table-head .list-table-col1, .list-table-head .list-table-col3 {
  font-weight: normal;
}

.list-table-col0 {
  width: 25%;
  min-width: 7rem;
  color: #666;
}

.list-table-col0 span {
  color: #333
}

.list-table-col1 {
  width: 25%;
  min-width: 6rem;
  font-weight: bold;
  color: #333;
}

.list-table-col2 {
  width: 25%;
  min-width: 8rem;
  color: #666;
}

.list-table-col3 {
  width: 25%;
  min-width: 7rem;
  font-weight: bold;
  color: #333;
}

.list-table-col4 {
  width: 15%;
  min-width: 6rem;
  text-align: center;
}
.list-table-item{

}
@media screen and (max-width: 999px) {
  .list-table-col0 {
    width: calc(100% - 30% - 23%);
  }

  .list-table-col3 {
    width: 30%;
  }

  .list-table-col4 {
    width: 23%;
  }

}
