<div class="popup-content-box">
  <div class="info">
    <i class="icon iconfont icon-tishixinxi"></i>
    <span class="text-info">为了保证您的账号安全，更换手机前请先进行密码验证。</span>
  </div>
  <form class="validate-form">
    <div class="form-section">
      <div class="form-element all-width">
        <div class="err-message" [attr.error]="''">
        </div>
        <input class="input-text" placeholder="请输入登录密码" >
      </div>
    </div>
  </form>
</div>
<div class="button-group button-group-right">
  <button (click)="ok()" class="button5">保存</button>
  <button (click)="cancel()" class="button4">取消</button>
</div>
