.process-detail-div {
  padding-top: 0.5rem;
  /*.patient-index-detail-div-item {
    border-radius: 0.2rem;
    height: 6.2rem;
    border: 1px solid #e7e6f3;
    margin-top: 1rem;
    .patient-index-detail-div-item-div {
      .patient-index-detail-div-item-div-left {
        width: 52%;
        height: 3.05rem;
        margin: 1.575rem 0rem 0rem 1.5rem;
        display: inline-block;
      }
      .patient-index-detail-div-item-div-center {
        width: 5%;
        display: inline-block;
      }
      .patient-index-detail-div-item-div-right {
        width: calc(100% - 53% - 5% - 3.2rem);
        display: inline-block;
        line-height: 2.3rem;
        margin-right: 1.5rem;
        div {
          font-size: 0.6rem;
        }
        .div-top {
          height: 1.2rem;
          line-height: 1.2rem;
          margin-bottom: 0.5rem;
        }
        .div-down {
          height: 1.5rem;
          line-height: 1.5rem;
          border-top: 1px solid #cccccc;
          padding-top: 0.5rem;
        }
      }
    }
  }*/
  .process-detail-div-note {
    padding-top: 0.6rem;
    font-size: 0.6rem;
    div {
      margin-top: 0.5rem;
    }
    span:nth-child(1) {
      width: 4rem;
      height: 1rem;
      line-height: 1rem;
      display: inline-block;
    }
    span:nth-child(2) {
      display: inline-block;
    }
  }
}
