
<div class="charge-list">
  <!------------------------------左侧------------------------------------------>
  <div class="charge-left">
    <div class="one-level">
      <div class="one-level-title" (click)="newChargeCombination()">
        <div class="item-add">
          <span><i class="icon-xinzeng"></i></span>
          <span>新增</span>
        </div>
        <span>组合模板</span>
      </div>
      <div class="one-level-content">
        <div class="one-level-item" (click)="cascade()" [ngClass]="{'add-background':toggle,'delete-background':!toggle}">
          <div class="item-operation">
          <span class="item-icon">
            <span class="is-show">
              <i class="icon-bianji"></i>
              <i class="icon-shanchu"></i>
            </span>
          </span>
          </div>
          <span class="one-level-cont">治疗药品治疗药品治疗药品治疗药品治疗药品</span>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------右侧------------------------------------------------>
  <div class="capital-flow-content-right">
    <!--面包屑-->
    <div class="crumbs">
      <!--地址-->
      <div class="capital-flow-settings"><i class="icon-dingwei"></i><span class="gps-span" (click)="jump()">组合模板</span><em class="icon-chakanxiangqing"></em><span>常用组合</span></div>
    </div>
    <!--头部-->
    <div class="capital-headers">
      <div class="form-section">
        <div class="form-element">
          <div class="err-message" ></div>
          <input class="input-text" placeholder="项目名/拼音码" style="border-color: #dbdbdb;box-shadow: none;outline: none !important;width:10rem;">
        </div>
        <button class='button4 button-search'>查询</button>
      </div>
    </div>
    <!--右表格-->
    <div class="popup-content-box">
      <div class="list-table">
        <div class="list-table-head">
          <div class="col3">收费项</div>
          <div class="col6">数量</div>
          <div class="col50">单价</div>
          <div class="col200">操作</div>
        </div>
        <div class="list-table-content single-line">
          <div class="list-table-item">
            <div class="col3">
              <span>奇偶额覅</span>
              <span class='togging'>拼音码:JIFJDF <em>|</em>单位:瓶</span></div>
            <div class="col6">
              <span>50</span>
            </div>
            <div class="col50"><span>￥20</span></div>
            <div class="list-table-content-col-3 col200">
              <span><i class="iconfont icon-xiugai"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
