<div [attr.status]="displayStatus" class="right-slider-container large">
  <router-outlet></router-outlet>
</div>
<div id="app-center-container">
  <qiezzi-loading [attr.status]="mainShowLoading" class="loading6 purple"></qiezzi-loading>
  <app-qiezzi-center-header [showSearch]="true"
                            [showFilter]="true"
                            [showAdd]="true"
                            [showOptions]="true"
                            [moduleName]="moduleName"
                            [searchPlaceholder]="'单号'"
                            [controlList]="['添加']"
                            (onControl)="onControl($event)"
                            (onSearch)="onSearch($event)"
                            (onOptions)="onOptions($event)"
                            (onShowFilter)="onShowFilter($event)"
  ></app-qiezzi-center-header>
  <div id="app-center-content">
    <div id="appCenterContent"
         [ngStyle]="{'display': true?'block':'none','border-top':isBorder?'1px solid #DBDBDB':''}"
         class="app-center-content" malihu-scrollbar
         [scrollbarOptions]="scrollbarOptions">
      <!--配置筛选条件-->
      <app-qiezzi-data-filter [filterConfig]="filterConfig"
                              (onConditionChanged)="onConditionChanged($event)"></app-qiezzi-data-filter>
      <div class="tab-ctrl-content" style="position: relative; min-height: 400px;">
        <qiezzi-loading [attr.status]="dataLoading" class="loading6 purple transparent"></qiezzi-loading>
        <div class="tab-ctrl-head">
          <button class="button4 search-right-icon"><i class="icon iconfont icon-daochu"></i>导出</button>
        </div>
        <div class="list-table">
          <div class="list-table-head">
            <div class="list-table-col0">退货日期</div>
            <div class="list-table-col1">退货单号</div>
            <div class="list-table-col2">退货数量</div>
            <div class="list-table-col3">总金额</div>
            <div class="list-table-col4">退货人</div>
            <div class="list-table-col5">库管员</div>
            <div class="list-table-col6">状态</div>
            <br clear="left">
          </div>
          <app-data-empty [showEmpty]="showEmptyState"></app-data-empty>

          <div class="list-table-content">
            <div class="list-table-item click-no-hide-detail"
                 [ngClass]="{'selected': false}" (click)="clickFeeItem($event,1,0)">
              <div class="list-table-col0">
                <span>2016-08-12</span>
              </div>
              <div class="list-table-col1">
                <span>TH2016081201</span>
              </div>
              <div class="list-table-col2">
                <span>2</span>
              </div>
              <div class="list-table-col3">
                <span>21,235.00</span>
              </div>
              <div class="list-table-col4">
                <span>张三</span>
              </div>
              <div class="list-table-col5">
                <span>张三</span>
              </div>
              <div class="list-table-col6">
                <span>正常</span>
              </div>
              <br clear="left">
            </div>
            <div class="list-table-item click-no-hide-detail"
                 [ngClass]="{'selected': false}" (click)="clickFeeItem($event,1,0)">
              <div class="list-table-col0">
                <span>2016-08-12</span>
              </div>
              <div class="list-table-col1">
                <span>TH2016081201</span>
              </div>
              <div class="list-table-col2">
                <span>2</span>
              </div>
              <div class="list-table-col3">
                <span>21,235.00</span>
              </div>
              <div class="list-table-col4">
                <span>张三</span>
              </div>
              <div class="list-table-col5">
                <span>张三</span>
              </div>
              <div class="list-table-col6">
                <span>正常</span>
              </div>
              <br clear="left">
            </div>
            <div class="list-table-item click-no-hide-detail"
                 [ngClass]="{'selected': false}" (click)="clickFeeItem($event,1,0)">
              <div class="list-table-col0">
                <span>2016-08-12</span>
              </div>
              <div class="list-table-col1">
                <span>TH2016081201</span>
              </div>
              <div class="list-table-col2">
                <span>2</span>
              </div>
              <div class="list-table-col3">
                <span>21,235.00</span>
              </div>
              <div class="list-table-col4">
                <span>张三</span>
              </div>
              <div class="list-table-col5">
                <span>张三</span>
              </div>
              <div class="list-table-col6">
                <span>正常</span>
              </div>
              <br clear="left">
            </div>
            <div class="list-table-item click-no-hide-detail"
                 [ngClass]="{'selected': false}" (click)="clickFeeItem($event,1,0)">
              <div class="list-table-col0">
                <span>2016-08-12</span>
              </div>
              <div class="list-table-col1">
                <span>TH2016081201</span>
              </div>
              <div class="list-table-col2">
                <span>2</span>
              </div>
              <div class="list-table-col3">
                <span>21,235.00</span>
              </div>
              <div class="list-table-col4">
                <span>张三</span>
              </div>
              <div class="list-table-col5">
                <span>张三</span>
              </div>
              <div class="list-table-col6">
                <span>正常</span>
              </div>
              <br clear="left">
            </div>



          </div>

        </div>
      </div>
    </div>
  </div>
</div>
