@mixin div-width-height {
  width: 50%;
  height: 1.55rem;
  float: left;
  color: #7a80fa;
  font-size: 0.6rem;
}

.process-detail-div-item-div-left-1 {
  text-align: right;
  padding-right: 0.3rem;
  line-height: 2.1rem;
  @include div-width-height;
}

.process-detail-div-item-div-left-2 {
  border-left: 1px solid #7a80fa;
  text-align: left;
  padding-left: 0.3rem;
  line-height: 2.1rem;
  @include div-width-height;
}

.process-detail-div-item-div-left-3 {
  text-align: left;
  padding-left: 0.3rem;
  border-left: 1px solid #7a80fa;
  border-top: 1px solid #7a80fa;
  line-height: 1.1rem;
  @include div-width-height;
}

.process-detail-div-item-div-left-4 {
  text-align: right;
  padding-right: 0.3rem;
  border-top: 1px solid #7a80fa;
  line-height: 1.1rem;
  @include div-width-height;
}
