<div>
  <div class="import-top">
    <i class="icon iconfont icon-tishixinxi"></i>
    <span>导入的Excel数据字段与Excel模板一致，否则可能无法导入！</span>
  </div>
  <div class="import-bot">
    <!--左边-->
    <div class= "downloadModel">
      <div><i class="icon iconfont icon-daoruhuanzhe-xiazaimoban"></i></div>
      <div><span>患者信息填写模板</span></div>
      <div><span>下载模板</span></div>
    </div>
    <!--右边-->
    <div class= "upModel">
      <div><i class="icon iconfont icon-daoruhuanzhe-shangchuanwendang"></i></div>
      <div><span>Excel文档名称显示</span></div>
      <div><span>上传文档</span></div>
    </div>
  </div>
</div>

<div class="button-group button-group-right">
  <button class="button5" (click)="ok()">导入</button>
  <button class="button4" (click)="cancel()">取消</button>
</div>
