<div [attr.status]="displayStatus" class="right-slider-container">
  <router-outlet></router-outlet>
</div>

<div id="app-center-container">
  <div id="app-center-content">
    <!-- 页头 -->
    <app-qiezzi-center-header [showSearch]="false"
                              [showFilter]="true"
                              [showAdd]="false"
                              [showOptions]="false"
                              [moduleName]="moduleName"
                              (onShowFilter)="onShowFilter($event)"
    ></app-qiezzi-center-header>
    <!-- 页面主体 -->
    <app-qiezzi-data-filter [filterConfig]="filterConfig"
                            (onConditionChanged)="onConditionChanged($event)">
    </app-qiezzi-data-filter>
    <div class="capital-flow-content">
      <div id="appCenterRightContent"
           [ngStyle]="{'display': centerRightLoadReady?'block':'none','border-top':isBorderRight?'1px solid #DBDBDB':''}"
           class="app-center-content" malihu-scrollbar
           [scrollbarOptions]="scrollbarOptionsRight">
        <div class="row">
          <div class="lt">
            <span>收入:</span><strong>{{Count?.Inflow | qiezziMoeny}}</strong>&nbsp;&nbsp;&nbsp;
            <span>支出:</span><strong>{{Count?.Outflow | qiezziMoeny}}</strong>&nbsp;&nbsp;&nbsp;
          </div>
          <div class="rt">
            <span>结余:</span><strong style="color: #605bf5;">{{Count?.BeginningBalance | qiezziMoeny}}</strong>
          </div>
        </div>
        <!-- 列表 -->
        <div class="list-table">
          <div class="list-table-head">
            <div class="list-table-col0">时间</div>
            <div class="list-table-col0 ">收款人（操作人）</div>
            <div class="list-table-col0">账户</div>
            <div class="list-table-col0">类别</div>
            <div class="list-table-col0">金额</div>
          </div>
          <div *ngIf="!FlowList || FlowList.Items.length === 0" class="data-empty">
            <app-data-empty [showEmpty]="showEmptyState"></app-data-empty>
          </div>
          <qiezzi-loading [attr.status]="mainShowLoadingRight" class="loading3 purple transparent"></qiezzi-loading>
          <div class="list-table-content">
            <div  *ngFor="let flowItem of FlowList?.Items;let i = index;"
                  class="list-table-item click-no-hide-detail"
                  [ngClass]="{'selected': i === flowIndex}"
                  (click)="clickFeeItem($event,flowItem.OutID,i)">
              <div class=" list-table-col0">
                <span>{{flowItem.PayTime| date:'yyyy-MM-dd'}}</span>
                <span>{{flowItem.PayTime| date:'hh:mm'}}</span>
              </div>
              <div class="list-table-col0">
                <span>{{flowItem.CreatorName}}</span>
              </div>
              <div class="list-table-col0">
                <span>{{flowItem.AccountName}}</span>
              </div>
              <div class="list-table-col0">
                <span>{{flowItem.TradeType}}</span>
              </div>
              <div class="list-table-col0">
                <strong>{{flowItem.Money | qiezziMoeny}}</strong>
              </div>
            </div>
          </div>
          <!-- 结束列表 -->
          <!-- 分页 -->
          <qiezzi-paginator rows="!FlowList ? 0 : FlowList.ItemsPerPage"
                            totalRecords="!FlowList ? 0 : FlowList.TotalPages"
                            [rowsPerPageOptions]="[10,20,30]"
                            [style]="showOrHide" (onPageChange)="onPageChange($event)"></qiezzi-paginator>
          <!-- 结束分页 -->
        </div>
      </div>
    </div>
  </div>
</div>
