<div id="appCenterContent">
  <!-- 左侧 -->
  <div class="capital-flow-content-left">
    <div id="appCenterLeftContent"
         [ngStyle]="{'display': true?'block':'none','border-top':false?'1px solid #DBDBDB':''}"
         class="app-center-content" malihu-scrollbar
         [scrollbarOptions]="scrollbarOptionsLeft">
      <div class="one-level">
        <div class="one-level-title">
          <span>选择库存物品</span>
        </div>
        <div class="one-level-content">
          <div class="one-level-item" (click)="cascade()" [ngClass]="{'add-background':toggle,'delete-background':!toggle}">
            <div class="item-operation">
          <span class="item-icon">
            <span class="is-show">
              <i class="icon-bianji"></i>
              <i class="icon-shanchu"></i>
            </span>
          </span>
            </div>
            <span class="one-level-cont">全部</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--右侧-->
  <div class="capital-flow-content-right">
    <div id="appCenterRightContent"
         [ngStyle]="{'display': true?'block':'none','border-top':false?'1px solid #DBDBDB':''}"
         class="app-center-content" malihu-scrollbar
         [scrollbarOptions]="scrollbarOptionsRight">
      <!--下面主体部分右侧顶端搜索条-->
      <div class="app-center-content-top">
        <div class="search-bar">
          <div class="search-left">
            <app-icon-input [placeholder]="'物品名称/拼音码'" style="width:10rem;"></app-icon-input>
          </div>
          <div class="search-right">
            <button class="button4 search-right-button">查询</button>
          </div>
          <div class="form-checkbox-group">
            <label class="form-checkbox"><input type="checkbox" name="noname"/>
              <span class="iconfont"></span><span>显示有库存</span>
            </label>
          </div>
        </div>
      </div>

      <!-- 列表 -->
      <div class="list-table">
        <div class="list-table-head">
          <div class="list-table-col3">
              <span (click)="selecctAllCheckBox(true)" *ngIf="!IsChooseAll" class="icon iconfont icon-weixuanzhong"
                    style="border-radius: 0px;color:#7a80fa;"></span>
            <span (click)="selecctAllCheckBox(false)" *ngIf="IsChooseAll" class="icon iconfont icon-xuanzhong"
                  style="background: #fff; color: #7a80fa;border-radius: 0px"></span>
          </div>
          <div class="list-table-col0">物品名称</div>
          <div class="list-table-col1 ">最低库存</div>
          <div class="list-table-col2">入库价</div>
        </div>
        <div class="list-table-content">

          <div class="list-table-item click-no-hide-detail">
            <div class="list-table-col3">
              <label class="form-checkbox checkBox"  name="noname" >
                <input class="checkBox" type="checkbox" name="noname" value="{{item.Id}}" [checked]="IsChooseAll" (click)="selectBox(item.Id)"/>
                <span class="iconfont checkBox"></span>
              </label>
            </div>
            <div class=" list-table-col0">
              <p>牙酸利多卡因注射液</p>
              <div class="list-table-col0-text">
                <span class="list-table-col0-text-left">规格：0.1ml</span>&nbsp;<span class="list-table-col0-text-right">单位：瓶</span>
              </div>
            </div>
            <div class="list-table-col1" >
              <span>777</span>
            </div>
            <div class="list-table-col2">
              <span>&yen;7777.00</span>
            </div>

          </div>
          <div class="list-table-item click-no-hide-detail">
            <div class="list-table-col3">
              <label class="form-checkbox checkBox">
                <input class="checkBox" type="checkbox" name="noname"/>
                <span class="iconfont checkBox"></span>
              </label>
            </div>
            <div class=" list-table-col0">
              <p>牙酸利多卡因注射液</p>
              <div class="list-table-col0-text">
                <span class="list-table-col0-text-left">规格：0.1ml</span>&nbsp;<span class="list-table-col0-text-right">单位：瓶</span>
              </div>
            </div>
            <div class="list-table-col1" >
              <span>777</span>
            </div>
            <div class="list-table-col2">
              <span>&yen;7777.00</span>
            </div>

          </div>
        </div>
      </div>
      <!-- 结束列表 -->
      </div>
    <!--下方选择类型-->
    <form class="validate-form">
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span>选择所属药品类别</div>
        <div class="form-element">
          <div class="err-message"></div>
          <qiezzi-drop-down-list class="drop-down-select"
                                 [placeholder]="'请选择类型'"
                                 [required]="true"
                                 [selectIndex]="0"
                                 [dataList]="nameList">
          </qiezzi-drop-down-list>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="button-group button-group-right">
  <button class="button5">确定</button>
  <button class="button4">取消</button>
</div>


