<app-qiezzi-right-header
  [rightComponentName]="rightComponentName">
</app-qiezzi-right-header>
<qiezzi-loading [attr.status]="mainShowLoading" class="loading6 purple"></qiezzi-loading>
<div class="sideslip-scroll" style="height:calc(100% - 4rem);" malihu-scrollbar [scrollbarOptions]="scrollbarOptionsRight">
<div class="doctor-module">
  <div>
    <div class="doctor-title">
      <span>标题模板名称</span>
      <div class="button-group button-group-right">
        <button class="button4">使用模板</button>
      </div>
    </div>
    <div class="doctor-content"><p>绝地反击节打飞机地府分解分解世界第三附近的打飞机地府ID的女出纳处女的可怜见覅哦哦二鹏点击服饰搭配符文欧</p></div>
  </div>
</div>
</div>
