.popup-content-box {
  padding-top: 0 !important;
}

.list-table {
  padding: 0 !important;
}

.form-checkbox {
  height: 1.2rem;
}

.form-checkbox span:last-child {
  display: none;
}

.col2 img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.col4 {
  flex: 0 0 20%;
}

.col5 {
  flex: 0 0 20%;
}

.col1 {
  flex: 0 0 1.3rem;
  padding-left: 0 !important;
}

.col2 {
  flex: 0 0 2.2rem;
  height: 1.2rem;
  overflow: hidden;
}

.col3 {
  width: 100%;
}
/*
Todo 滑过
*/
.list-table-item .isShow{
  display: none;
}
.list-table-item:hover .isShow{
  display: block;
  color:#7A80FA;
}

/*
列表复选框位置margin-left为0
*/
.form-checkbox span:last-child{
  margin-left: 0;
  font-size: 16px;
  display: block;
}
