
<div class="popup-content-container" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
  <div class="popup-content-box">
    <form class="validate-form">
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span>名称</div>
        <div class="form-element">
          <div class="err-message" [attr.error]="''">
          </div>
          <input class="input-text" placeholder=""  name="DictDetailName">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="button-group button-group-right">
  <button (click)="ok()" class="button5">保存</button>
  <button (click)="close()" class="button4">取消</button>
</div>

