<qiezzi-loading [attr.status]="dataLoading" class="loading6 purple transparent"
                style="padding-top: 300px"></qiezzi-loading>
<div class="safe-container" >
  <div class="container-item">
    <div class="title">更换手机</div>
    <div class="content">
      <i class="icon iconfont icon-tianjia" (click)="bindPhone()" ></i>
      <p>手机号: <span>18500558272</span></p>
      <span>手机号是茄子重要的登录账户，同时也是管理个人账户和修改密码等更多服务的重要依据</span>
    </div>
  </div>
  <div class="container-item">
    <div class="title">登录密码</div>
    <div class="content">
      <i class="icon iconfont icon-rili" (click)="setPassword()" ></i>
      <p>已设置</p>
      <span>安全性高的密码，可以使账号更安全，建议你定期更换密码，设置一个包含数字、字母、符号的密码</span>
    </div>
  </div>
</div>
