<!--消毒设置内容-->
<div class="list-table">
  <div class="list-table-head">
    <div class="list-table-col-0 col16">名称</div>
    <div class="list-table-col-1">内容</div>
    <div class="list-table-col-2 col20">操作</div>
  </div>
<div class="list-table-content">
  <div class="list-table-item">
    <div class="list-table-col-0 col16">这里是内容模板标题这里是内容模板标题这里是内容模板标题</div>
    <div class="list-table-col-1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div>
    <div class="list-table-content-col-2 col20">
                  <span>
                    <i class="iconfont icon-xiangshang"></i>
                    <span>|</span>
                    <i class="iconfont icon-xiangxia"></i>
                    <span>|</span>
                    <!--<i class="iconfont icon-zhiding" (click)="top()"></i>
                    <span>|</span>
                    <i class="iconfont icon-zhidi" (click)="bottom()"></i>
                    <span>|</span>-->
                    <i class="iconfont icon-xiugai"></i>
                    <span>|</span>
                    <i class="iconfont icon-shanchu"></i>
                  </span>
    </div>
  </div>
</div>
</div>
