<div>
  <form class="validate-form" >
      <!--列表一-->
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span><span>名称</span></div>
        <div class="form-element">
          <div class="err-message" ></div>
          <input class="input-text" placeholder="请输入名称" id="PatientName"  style="border-color: #dbdbdb;box-shadow: none;outline: none !important;width:15.3rem;">
        </div>
        <div class="sms-list-right">
          <i class="icon iconfont icon-xiangshang"></i>
          <i class="icon iconfont icon-xiangxia"></i>
          <i class="icon iconfont icon-shanchu"></i>
        </div>
      </div>
      <!--列表二-->
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span><span>名称</span></div>
        <div class="form-element">
          <div class="err-message" ></div>
          <input class="input-text" placeholder="请输入名称" id="PatientName"  style="border-color: #dbdbdb;box-shadow: none;outline: none !important;width:15.3rem;">
        </div>
        <div class="sms-list-right">
          <i class="icon iconfont icon-xiangshang"></i>
          <i class="icon iconfont icon-xiangxia"></i>
          <i class="icon iconfont icon-shanchu"></i>
        </div>
      </div>
      <!--列表三-->
      <div class="form-section">
        <div class="form-title"><span class="red-point"><i></i></span><span>名称</span></div>
        <div class="form-element">
          <div class="err-message" ></div>
          <input class="input-text" placeholder="请输入名称" id="PatientName"  style="border-color: #dbdbdb;box-shadow: none;outline: none !important;width:15.3rem;">
        </div>
        <div class="sms-list-right">
          <i class="icon iconfont icon-xiangshang"></i>
          <i class="icon iconfont icon-xiangxia"></i>
          <i class="icon iconfont icon-shanchu"></i>
        </div>
      </div>
      <!--添加类别-->
      <div class="addlists">
        <div class="addli">
          <i class="icon iconfont icon-xinzeng"></i>
          <span>添加群组</span>
        </div>

      </div>
  </form>
</div>
<div class="button-group button-group-right">
  <button class="button5" (click)="ok()">保存</button>
  <button class="button4" (click)="cancel()">取消</button>
</div>
