<!--就诊事项设置开始-->
<qiezzi-loading [attr.status]="dataLoading" class="loading6 purple transparent"></qiezzi-loading>
<!--头部-->
<div class="list-table">
  <div class="list-table-head">
    <div class="list-table-col0">就诊事项</div>
    <div class="mobile-hidden list-table-col1">颜色</div>
    <div class="mobile-hidden list-table-col2">默认时长</div>
    <div class="list-table-col6 operation">操作</div>
  </div>
  <!--内容-->
  <div class="list-table-content single-line">
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai" (click)="ngClick()"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
    <div  class="list-table-item click-no-hide-detail">
      <div class="list-table-col0">
        <span>根管治疗</span>
      </div>
      <div
        class="mobile-hidden list-table-col1"><span class="color"></span>
      </div>
      <div
        class="mobile-hidden list-table-col2"><span>1分钟</span>
      </div>
      <div
        class="list-table-content-col-2 list-table-col6 operation">
        <span>
            <i class="iconfont icon-shanchu"></i>
            <span>|</span>
            <i class="iconfont icon-xiugai"></i>
        </span>
      </div>

    </div>
  </div>
</div>
<!--就诊事项结束-->
